.container {
    position: fixed;
    display: flex;
    
    width: 100%;
    height: 100%;
    background-color: #54A5BE;
  }
  
  .splitleft, .splitright {
    flex: 1;
  }
 .faculty{
    background-color: white;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 200px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 25px;
    text-align: center;
    color: black;
    text-decoration:none;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .faculty:hover{
    background-color: #848889;
    cursor: pointer;
  }
 
 .student{
    background-color: white;
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 200px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-right: 10px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 .student:hover{
    background-color: #848889;
    cursor: pointer;
  }
 .splitright{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color: white;
    border-radius: 50px;
    font-family:Arial, Helvetica, sans-serif;
 }
.img1{
    margin-top: 30px;
    margin-left:40px;
  
   
   
}
.log{
    width: 80px;
    height: 80px;
    margin-top: 0px;
    border-radius: 50%;
    margin-left:210px;
    
    
}
.heading{
    text-align: center;
}
.h1{
    margin-top: 30px;
    text-align: center;
}
.mark{
    width: 400px;
    height:300px;
    margin-left: 100px;
}
