
.entire{
  
    border-radius: 45px;
     margin-left: 500px;
     margin-right: 500px;
     margin-top:50px;
     padding-top: 80px;
     padding-bottom: 10px;
     padding-left: 10px;
     padding-left: 10px;
     background-color: #54A5BE;
  }
  .logo{
    margin-top: -50px;
    width:100px;
    height: 100px;
   margin-left: 180px;
    border-radius: 50%;
  }
  .login{
   
  
    margin-right: 250px;
    margin-top: -10px;
    margin-left: 150px;
   
    padding-left: 30px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  
  
  
  .u2{
    display: inline;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
     margin-right: 100px;
     margin-left: 130px;
     margin-top: 20px;
   
  }
  
  .p2{
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 100px;
     margin-left: 130px;
     margin-top: 20px;
  }
  .bu{
    cursor: pointer;
    margin-left: 160px;
    margin-top: 40px;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: antiquewhite;
    transition: background-color 0.5s ease;
  }
  